
.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}
.c-selectable {
    cursor: pointer;
    box-sizing: border-box;
}
.c-selectable:hover {
    border: 1px solid #BB86FC;
}
.c-selected {
    border: 3px solid #BB86FC !important;
}
.c-not-selectable {
    box-sizing: border-box;
    cursor: not-allowed;
}
.c-not-selectable:hover {
    border:1px solid #CF6679 ;
}
.c-selected {
    border: 3px solid #BB86FC;

}
.row {
    --bs-gutter-x: 0 !important;
}
.col-md-4 {
    padding: 6px !important;

}
.badge {
    padding: 1.35em !important;
}
.badge-good span {
    color: black !important;
    background-color: #BB86FC !important;
}
.badge-bad span {
    color: black !important;
    background-color: #CF6679 !important;
}
.pcard {
    background-color: #1F1A24 !important;
    color: white;
}
.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}